Client/FrameWork/.vs/FrameWork/v15/Browse.VC.db
Server/NGP_TeamProject_Server/.vs/NGP_TeamProject_Server/v15/Browse.VC.db
Client/FrameWork/.vs/FrameWork/v15/ipch/AutoPCH/707e7eb6b914d0ae/GAME.ipch
Server/NGP_TeamProject_Server/.vs/NGP_TeamProject_Server/v15/ipch/AutoPCH/9402e6afff5ffc51/SERVERFRAMEWORK.ipch
Client/FrameWork/.vs/
Server/NGP_TeamProject_Server/NGP_TeamProject_Server/Debug/NGP_Team.9769250F.tlog/link.read.1.tlog
Server/NGP_TeamProject_Server/NGP_TeamProject_Server/Debug/NGP_Team.9769250F.tlog/link.command.1.tlog
Server/NGP_TeamProject_Server/NGP_TeamProject_Server/Debug/NGP_Team.9769250F.tlog/NGP_TeamProject_Server.lastbuildstate
Server/NGP_TeamProject_Server/NGP_TeamProject_Server/Debug/NGP_Team.9769250F.tlog/CL.read.1.tlog
Server/NGP_TeamProject_Server/NGP_TeamProject_Server/Debug/NGP_Team.9769250F.tlog/CL.command.1.tlog
Server/NGP_TeamProject_Server/NGP_TeamProject_Server/Debug/vc141.idb
Server/NGP_TeamProject_Server/NGP_TeamProject_Server/Debug/NGP_Team.9769250F.tlog/link.write.1.tlog
Server/NGP_TeamProject_Server/NGP_TeamProject_Server/Debug/NGP_Team.9769250F.tlog/CL.write.1.tlog
Client/FrameWork/Debug/image/clear_04.bmp
Client/FrameWork/Debug/image/clear_03.bmp
Client/FrameWork/Debug/image/clear_02.bmp
Client/FrameWork/Debug/image/clear_01.bmp
Client/FrameWork/Debug/image/boom_06.bmp
Client/FrameWork/Debug/image/boom_05.bmp
Client/FrameWork/Debug/image/boom_04.bmp
Client/FrameWork/FrameWork/Debug/FrameWork.tlog/rc.write.1.tlog
Client/FrameWork/FrameWork/Debug/FrameWork.tlog/rc.read.1.tlog
Client/FrameWork/FrameWork/Debug/FrameWork.tlog/rc.command.1.tlog
Client/FrameWork/FrameWork/Debug/FrameWork.tlog/link.write.1.tlog
Client/FrameWork/FrameWork/Debug/FrameWork.tlog/link.read.1.tlog
Client/FrameWork/FrameWork/Debug/FrameWork.tlog/link.command.1.tlog
Client/FrameWork/FrameWork/Debug/FrameWork.tlog/FrameWork.lastbuildstate
Client/FrameWork/FrameWork/Debug/FrameWork.tlog/CL.write.1.tlog
Client/FrameWork/FrameWork/Debug/FrameWork.tlog/CL.read.1.tlog
Client/FrameWork/FrameWork/Debug/FrameWork.tlog/CL.command.1.tlog
Client/FrameWork/FrameWork/Debug/FrameWork.res
Client/FrameWork/Debug/image/walk-4-b.bmp
Client/FrameWork/Debug/image/walk-4-1.bmp
Client/FrameWork/Debug/image/walk-3-b.bmp
Client/FrameWork/Debug/image/e_alert-1.bmp
Client/FrameWork/Debug/image/e_alert-1-b.bmp
Client/FrameWork/Debug/image/death-9.bmp
Client/FrameWork/Debug/image/death-8.bmp
Client/FrameWork/Debug/image/death-7.bmp
Client/FrameWork/Debug/image/death-6.bmp
Client/FrameWork/Debug/image/death-5.bmp
Client/FrameWork/Debug/image/death-4.bmp
Client/FrameWork/Debug/image/death-3.bmp
Client/FrameWork/Debug/image/death-2.bmp
Client/FrameWork/Debug/image/death-11.bmp
Client/FrameWork/Debug/image/death-10.bmp
Client/FrameWork/Debug/image/death-1.bmp
Client/FrameWork/Debug/image/clear_21.bmp
Client/FrameWork/Debug/image/clear_20.bmp
Client/FrameWork/Debug/image/clear_19.bmp
Client/FrameWork/Debug/image/clear_18.bmp
Client/FrameWork/Debug/image/clear_17.bmp
Client/FrameWork/Debug/image/clear_16.bmp
Client/FrameWork/Debug/image/clear_15.bmp
Client/FrameWork/Debug/image/clear_14.bmp
Client/FrameWork/Debug/image/clear_13.bmp
Client/FrameWork/Debug/image/clear_12.bmp
Client/FrameWork/Debug/image/clear_11.bmp
Client/FrameWork/Debug/image/clear_10.bmp
Client/FrameWork/Debug/image/clear_09.bmp
Client/FrameWork/Debug/image/clear_08.bmp
Client/FrameWork/Debug/image/clear_07.bmp
Client/FrameWork/Debug/image/clear_06.bmp
Client/FrameWork/Debug/image/clear_05.bmp
Client/FrameWork/Debug/image/boom_03.bmp
Client/FrameWork/Debug/image/boom_02.bmp
Client/FrameWork/Debug/image/boom_01.bmp
Client/FrameWork/Debug/image/background.bmp
Client/FrameWork/Debug/image/attack-3.bmp
Client/FrameWork/Debug/image/attack-3-b.bmp
Client/FrameWork/Debug/image/attack-2.bmp
Client/FrameWork/Debug/image/attack-2-b.bmp
Client/FrameWork/Debug/image/attack-1.bmp
Client/FrameWork/Debug/image/attack-1-b.bmp
Client/FrameWork/Debug/image/alert-3.bmp
Client/FrameWork/Debug/image/alert-3-b.bmp
Client/FrameWork/Debug/image/alert-2.bmp
Client/FrameWork/Debug/image/alert-2-b.bmp
Client/FrameWork/Debug/image/alert-1.bmp
Client/FrameWork/Debug/image/alert-1-b.bmp
Client/FrameWork/FrameWork/Debug/vc141.idb
Client/FrameWork/Debug/image/walk-3-1.bmp
Client/FrameWork/Debug/image/walk-2-b.bmp
Client/FrameWork/Debug/image/walk-2-1.bmp
Client/FrameWork/Debug/image/walk-1-b.bmp
Client/FrameWork/Debug/image/walk-1-1.bmp
Client/FrameWork/Debug/image/startbutton.bmp
Client/FrameWork/Debug/image/start.bmp
Client/FrameWork/Debug/image/jump-1-b.bmp
Client/FrameWork/Debug/image/jump-1-1.bmp
Client/FrameWork/Debug/image/fireball_04-b.bmp
Client/FrameWork/Debug/image/fireball_04-1.bmp
Client/FrameWork/Debug/image/fireball_03-b.bmp
Client/FrameWork/Debug/image/fireball_03-1.bmp
Client/FrameWork/Debug/image/fireball_02-b.bmp
Client/FrameWork/Debug/image/fireball_02-1.bmp
Client/FrameWork/Debug/image/fireball_01-b.bmp
Client/FrameWork/Debug/image/fireball_01-1.bmp
Client/FrameWork/Debug/image/exitbutton.bmp
Client/FrameWork/Debug/image/e_walk-4-b.bmp
Client/FrameWork/Debug/image/e_walk-4-1.bmp
Client/FrameWork/Debug/image/e_walk-3-b.bmp
Client/FrameWork/Debug/image/e_walk-3-1.bmp
Client/FrameWork/Debug/image/e_walk-2-b.bmp
Client/FrameWork/Debug/image/e_walk-2-1.bmp
Client/FrameWork/Debug/image/e_walk-1-b.bmp
Client/FrameWork/Debug/image/e_walk-1-1.bmp
Client/FrameWork/Debug/image/e_jump-1-b.bmp
Client/FrameWork/Debug/image/e_jump-1-1.bmp
Client/FrameWork/Debug/image/e_fireball_04-b.bmp
Client/FrameWork/Debug/image/e_fireball_04-1.bmp
Client/FrameWork/Debug/image/e_fireball_03-b.bmp
Client/FrameWork/Debug/image/e_fireball_03-1.bmp
Client/FrameWork/Debug/image/e_fireball_02-b.bmp
Client/FrameWork/Debug/image/e_fireball_02-1.bmp
Client/FrameWork/Debug/image/e_fireball_01-b.bmp
Client/FrameWork/Debug/image/e_fireball_01-1.bmp
Client/FrameWork/Debug/image/e_attack-3.bmp
Client/FrameWork/Debug/image/e_attack-3-b.bmp
Client/FrameWork/Debug/image/e_attack-2.bmp
Client/FrameWork/Debug/image/e_attack-2-b.bmp
Client/FrameWork/Debug/image/e_attack-1.bmp
Client/FrameWork/Debug/image/e_attack-1-b.bmp
Client/FrameWork/Debug/image/e_alert-3.bmp
Client/FrameWork/Debug/image/e_alert-3-b.bmp
Client/FrameWork/Debug/image/e_alert-2.bmp
Client/FrameWork/Debug/image/e_alert-2-b.bmp
Client/FrameWork/Debug/image/Galagalogo.bmp
Server/NGP_TeamProject_Server/Release/NGP_TeamProject_Server.ipdb
Server/NGP_TeamProject_Server/Release/NGP_TeamProject_Server.iobj
Server/NGP_TeamProject_Server/NGP_TeamProject_Server/Release/NGP_Team.9769250F.tlog/link.write.1.tlog
Server/NGP_TeamProject_Server/NGP_TeamProject_Server/Release/NGP_Team.9769250F.tlog/link.read.1.tlog
Server/NGP_TeamProject_Server/NGP_TeamProject_Server/Release/NGP_Team.9769250F.tlog/link.command.1.tlog
Server/NGP_TeamProject_Server/NGP_TeamProject_Server/Release/NGP_Team.9769250F.tlog/NGP_TeamProject_Server.write.1u.tlog
Client/FrameWork/FrameWork/Release/FrameWork.tlog/CL.write.1.tlog
Client/FrameWork/FrameWork/Release/FrameWork.tlog/CL.read.1.tlog
Client/FrameWork/FrameWork/Release/FrameWork.tlog/CL.command.1.tlog
Client/FrameWork/FrameWork/Release/FrameWork.res
Server/NGP_TeamProject_Server/NGP_TeamProject_Server/Release/NGP_Team.9769250F.tlog/NGP_TeamProject_Server.lastbuildstate
Server/NGP_TeamProject_Server/NGP_TeamProject_Server/Release/NGP_Team.9769250F.tlog/CL.write.1.tlog
Server/NGP_TeamProject_Server/NGP_TeamProject_Server/Release/NGP_Team.9769250F.tlog/CL.read.1.tlog
Server/NGP_TeamProject_Server/NGP_TeamProject_Server/Release/NGP_Team.9769250F.tlog/CL.command.1.tlog
Client/FrameWork/FrameWork/Release/FrameWork.tlog/unsuccessfulbuild
Client/FrameWork/FrameWork/Release/FrameWork.tlog/rc.write.1.tlog
Client/FrameWork/FrameWork/Release/FrameWork.tlog/rc.read.1.tlog
Client/FrameWork/FrameWork/Release/FrameWork.tlog/rc.command.1.tlog
Client/FrameWork/FrameWork/Release/FrameWork.tlog/link.write.1.tlog
Client/FrameWork/FrameWork/Release/FrameWork.tlog/link.read.1.tlog
Client/FrameWork/FrameWork/Release/FrameWork.tlog/link.command.1.tlog
Client/FrameWork/FrameWork/Release/FrameWork.tlog/FrameWork.lastbuildstate
