Client/FrameWork/.vs/FrameWork/v15/Browse.VC.db
Server/NGP_TeamProject_Server/.vs/NGP_TeamProject_Server/v15/Browse.VC.db
Client/FrameWork/.vs/FrameWork/v15/ipch/AutoPCH/707e7eb6b914d0ae/GAME.ipch
Server/NGP_TeamProject_Server/.vs/NGP_TeamProject_Server/v15/ipch/AutoPCH/9402e6afff5ffc51/SERVERFRAMEWORK.ipch
Client/FrameWork/.vs/
Server/NGP_TeamProject_Server/NGP_TeamProject_Server/Debug/NGP_Team.9769250F.tlog/link.read.1.tlog
Server/NGP_TeamProject_Server/NGP_TeamProject_Server/Debug/NGP_Team.9769250F.tlog/link.command.1.tlog
Server/NGP_TeamProject_Server/NGP_TeamProject_Server/Debug/NGP_Team.9769250F.tlog/NGP_TeamProject_Server.lastbuildstate
Server/NGP_TeamProject_Server/NGP_TeamProject_Server/Debug/NGP_Team.9769250F.tlog/CL.read.1.tlog
Server/NGP_TeamProject_Server/NGP_TeamProject_Server/Debug/NGP_Team.9769250F.tlog/CL.command.1.tlog
Server/NGP_TeamProject_Server/NGP_TeamProject_Server/Debug/vc141.idb
Server/NGP_TeamProject_Server/NGP_TeamProject_Server/Debug/NGP_Team.9769250F.tlog/link.write.1.tlog
Server/NGP_TeamProject_Server/NGP_TeamProject_Server/Debug/NGP_Team.9769250F.tlog/CL.write.1.tlog
