Client/FrameWork/.vs/FrameWork/v15/Browse.VC.db
Server/NGP_TeamProject_Server/.vs/NGP_TeamProject_Server/v15/Browse.VC.db
Client/FrameWork/.vs/FrameWork/v15/ipch/AutoPCH/707e7eb6b914d0ae/GAME.ipch
Server/NGP_TeamProject_Server/.vs/NGP_TeamProject_Server/v15/ipch/AutoPCH/9402e6afff5ffc51/SERVERFRAMEWORK.ipch
Client/FrameWork/.vs/
